@model FitSalon.WebUI.Areas.Admin.Models.APIMovieViewModel

@{
    ViewData["Title"] = "Hava Durumu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <h4 class="card-header">Güncel Hava Durumu</h4>
    <div class="card-body">
        <h5>Şehir: @Model.City</h5>
        <h5>Sıcaklık: @Model.Temperature</h5>
        <h5>Durum: @Model.WeatherDescription</h5>
        <img src="@Model.Icon" alt="Weather Icon" />
    </div>
</div>
